@function color($color, $variation: false) {

    @if map-has-key($colors, $color) {
      $color: map-get($colors, $color);
    } @else {
      @if type-of($color) != color {
        @error "Invalid color name: `#{$color}`.";
      }
    }
  
    @if $variation {
      @if not map-has-key($color-variations, $variation) {
        @error "Invalid $variation: `#{$variation}`.";
      } @else {
        $this-variation: map-get($color-variations, $variation);
        $args: join(map-get($this-variation, function), $color);
        @if map-get($this-variation, parameters) {
          $args: join($args, map-get($this-variation, parameters));
        }
        @return call($args...);
      }
    }
    @return $color;
}


@function font-size($type, $variation: false) {

  @if map-has-key($font-sizes, $type) {
    $type: map-get($font-sizes, $type);
  } @else {
    @if type-of($type) != type {
      @error "Invalid size type name: `#{$type}`.";
    }
  }

  @if $variation {
    @if not map-has-key($font-sizes-variations, $variation) {
      @error "Invalid $variation: `#{$variation}`.";
    } @else {
      $variation-value: map-get($font-sizes-variations, $variation);
      @return $type * $variation-value;
    }
  }
  @return $type;
}

@function btn-size($property, $variation: md) {

  $size: map-get($button-sizes, $property);
  
  @if $variation {
    @if not map-has-key($button-sizes-variations, $variation) {
      @error "Invalid $variation: `#{$variation}`.";
    } @else {
      $variation-value: map-get($button-sizes-variations, $variation);
      @return $size * map-get($variation-value, $property);
    }
  }

  @return $size;
}