/// To clear the float elements.
///
/// @author liang@bonusway.com
///
///
/// @example scss - clear fix after `.foo` element.
///   .foo {
///     @include clearfix();
///   }
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/// To let the element locate at the center of its parent (horizontally and vertically).
///
/// @author liang@bonusway.com
///
///
/// @example scss - absolute center `.foo`.
///   .foo {
///     @include abs-center();
///   }
@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/// This mixin is used to set `.text--red` or `.bg--red`. Use this one globally
///
/// @author liang@bonusway.com
///
/// @param {class-name} $class-name - class name that want to attach color features
/// @param {property} $property - what css property that need to attach the colors
/// @param {state} $state - if the color activator is stateful or not, e.g. hover or actived 
///
/// @example scss
///   @include color-activator();
///   @include color-activator('.bg', background-color);

@mixin color-activator($class-name: null, $property: 'color', $state: null) {
    // default option is to activate `color` property
    @each $color-name, $color-value in $colors {
        // set the primary & secondary color
        @if $class-name != null {

            @if $state != null {
                &.#{$class-name}--#{$color-name} {
                    #{$property}: $color-value;
                }
            } @else {
                .#{$class-name}--#{$color-name} {
                    #{$property}: $color-value;
                }
            }

        } @else  {
            @if $state != null {
                &.#{$color-name} {
                    #{$property}: $color-value;
                }
            } @else {
                .#{$color-name} {
                    #{$property}: $color-value;
                }
            }
        }


        // set the variation colors
        @each $variation-name, $variation-value in $color-variations {
            @if $class-name != null {
                @if $state != null {
                    &.#{$class-name}--#{$color-name}--#{$variation-name} {
                        #{$property}: color($color-name, $variation-name);
                    }
                } @else {
                    .#{$class-name}--#{$color-name}--#{$variation-name} {
                        #{$property}: color($color-name, $variation-name);
                    }
                }
            } @else {
                @if $state != null {
                    &.#{$color-name}--#{$variation-name} {
                        #{$property}: color($color-name, $variation-name);
                    }
                } @else {
                    .#{$color-name}--#{$variation-name} {
                        #{$property}: color($color-name, $variation-name);
                    }
                }
            }
        }
    }
}

/// This mixin can be used to set the default font-size based on $font-sizes map
/// and attach the font-size specific modifiers to elements or classes based on $font-sizes-variations map.
///
/// @author liang@bonusway.com
///
/// @param {name} $name - the property name from `$font-sizes` map.
/// @example scss - set the default and modifiers to selector `.header`.
///   .header {
///     @include font-size-modifier(header);
///   }

@mixin font-size-modifier($name) {
    $base-size: map-get($font-sizes, $name);
    & {
        font-size: $base-size;
    }

    @each $variation-name, $variation-value in $font-sizes-variations {
        &.#{$name}--#{$variation-name} {
            font-size: font-size($name, $variation-name);
        }
    }
}

/// This mixin can be used to set the default text style
///
/// @author liang@bonusway.com
///
/// @example scss - set the default and modifiers to selector `.header`.
///   .button {
///     @include text-formatter();
///   }
@mixin text-formatter() {
    @include font-size-modifier(text);
    line-height: 140%;
}


/// This mixin can be used to darken with specific prefix
/// this can be useful when we want to modify the state of with the same class name. change state but keep the same class name.
///
/// @author liang@bonusway.com
///
/// @param {prefix} $prefix - in case we want to modify background, we have to specify prefix
/// @param {property} $property - the css property we want to change
/// @example scss - set the default and modifiers to selector `.header`.
///   .button {
///     &:hover {
///         @include class-darken();
///     }
///   }
@mixin class-darken($prefix: 'bg', $property: 'background-color') {
    @each $color-name, $color-value in $colors {
        // set the primary & secondary color
        @if $prefix != null {
            &.#{$prefix}--#{$color-name} {
                #{$property}: color($color-name, dark);
            }
        } @else {
            &.#{$color-name} {
                #{$property}: color($color-name, dark);
            }
        }
    }
}