//// Define the color palettes
/// @group variables
////
$colors: (
        navy: #233142,
        blue: #00C3EB,
        red: #F95959,
        green: #15DB95,
        gold: #FCC74E,
        grey: #9BA1A9,
        light-grey: #F5F8F9
);

$color-variations: (
    light: (
        function: lighten,
        parameters: 15%
    ),
    dark: (
        function: darken,
        parameters: 15%
    ),
    fade: (
        function: rgba,
        parameters: .7
    ),
    gray: (
        function: grayscale
    ),
    shade: (
        function: mix,
        parameters: white 80%
    )
);

$font-sizes: (
    header: 4.8rem,
    sub-header: 2.4rem,
    text: 1.6rem,
    meta-text: 1.2rem,
    icon: 2rem
);

$font-sizes-variations: (
    sm: 0.75,
    md: 1,
    lg: 1.25
);

//Breakpoints
/*
	< 600px phone xs
    600px - 1200px tablet sm
    1200px - 1800px desktop md
    1800px - 2800px desktop lg

    1em = 16px;
*/
$break-xs: 37.5em;
$break-sm: 75em;
$break-md: 112.5em;
$break-lg: 175em;

// overwrite the default grid vendors
$gl-mq-list: (
    lg: $break-lg,
    md: $break-md,
    sm: $break-sm,
    xs: $break-xs
);