@function font-size($type, $variation: false, $variations: $font-sizes-variations) {
    @if map-has-key($font-sizes, $type) {
      $type: map-get($font-sizes, $type);
    } @else {
      @if type-of($type) != type {
        @error "Invalid size type name: `#{$type}`.";
      }
    }
  
    @if $variation {
      @if not map-has-key($variations, $variation) {
        @error "Invalid $variation: `#{$variation}`.";
      } @else {
        $variation-value: map-get($variations, $variation);
        @return $type * $variation-value;
      }
    }
    @return $type;
}

/// This mixin can be used to set the default font-size based on $font-sizes map
/// and attach the font-size specific modifiers to elements or classes based on $font-sizes-variations map.
///
/// @author liang@bonusway.com
///
/// @param {name} $name - the property name from `$font-sizes` map.
/// @param {variation} $variation - the property variation from `font-sizes-variations` map (default).
/// @example scss - set the default and modifiers to selector `.header`.
///   .header {
///     @include font-size-modifier(header);
///   }

@mixin font-size-modifier($name, $variations: $font-sizes-variations) {
  $base-size: map-get($font-sizes, $name);
  & {
      font-size: $base-size;
  }

  @each $variation-name, $variation-value in $variations {
      &.#{$name}--#{$variation-name} {
          font-size: font-size($name, $variation-name, $variations);
      }
  }
}

/// This mixin can be used to set the default text style
///
/// @author liang@bonusway.com
///
/// @param {type} $type - the text type from `$font-sizes` map.
/// @example scss - set the default and modifiers to selector `.header`.
///   .button {
///     @include text-formatter();
///   }
@mixin text-formatter($type: text) {
  @include font-size-modifier($type);
  line-height: 180%;
}