@import '_variables';
@import '_helpers';

// import the header fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i');

// import the paragraph fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    font-family: "Open Sans", sans-serif;
}

// for optimazition purposes
// please avoid to set font-size-modifier with multiple selectors
.header {
    @include font-size-modifier(header);
}

.sub-header {
    @include font-size-modifier(sub-header);
}

// generic font style variations
.bold {
    font-weight: 700;
}
.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.header, .sub-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    &.bold {
        font-weight: 700;
    }

    &.black {
        font-weight: 900;
    }
}

.text {
    @include text-formatter();
}

.meta-text {
    @include font-size-modifier(meta-text);
    color: color(gray);
}

a {
    @include font-size-modifier(text);
    text-decoration: none;
    color: color(blue);
}