$font-sizes: (
    header: 4.8rem,
    sub-header: 2.4rem,
    text: 1.6rem,
    small-text: 1.4rem,
    meta-text: 1.2rem,
    icon: 2rem
);

$font-sizes-variations: (
    sm: 0.75,
    md: 1,
    lg: 1.25
);