.notification {
    display: flex;
    border-radius: $border-radius;
    padding: 2rem;

    &__icon {
        flex-basis: 4rem;
        padding: .7rem 0;
    }
    &--success {
        border: 1px solid color(green);
        color: color(green);
        [class^="icon-"] {
            background: color(green);
            border-radius: 50%;
            padding: .125rem;
        }
    }

    &--error {
        border: 1px solid color(red);
        color: color(red);
        [class^="icon-"] {
            background: color(red);
            border-radius: 50%;
            padding: .125rem;
        }
    }
}