@import '_variables';
@import '_helpers';

.notification {
    display: flex;
    border-radius: $border-radius;
    padding: 2 * $gap;

    &__icon {
        flex-basis: 4 * $gap;
        font-size: font-size(text);
        padding-top: $notification-icon-padding;
    }
    &--success {
        @include notification-modifier(green);
    }

    &--error {
        @include notification-modifier(red);
    }
}