@import '_variables';

.dropdown {
    &__input {
        position: relative;
        height: $dropdown-height;

        input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        input::placeholder {
            color: color(navy);
        }

        [class^="icon-"] {
            position: absolute;
            right: 1rem;
            top: 2rem;
        }
    }

    &__select {
        border: 1px solid color(grey, lighter);
        outline: 0;
        border-top: 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &__option {
        @include transition();
        font-size: 1.6rem;
        text-indent: $text-indent;
        height: $dropdown-height;
        line-height: $dropdown-height;
        &:hover {
            color: color(blue);
            background-color: color(light-grey);
        }
    }
}