@import '_variables';

.dropdown {
    position: relative;
    min-height: $dropdown-height;

    &__text {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
        background-color: transparent;
    }

    &__text::placeholder {
        color: color(navy);
    }

    [class^="icon-"] {
        position: absolute;
        right: 1rem;
        top: 2rem;
        z-index: -1;
    }

    &__text:focus + [class^="icon-"]::before {
        content: "\57";
    }

    &__text:focus ~ &__menu {
        @include visible();
    }

    &__menu {
        @include transition();
        @include invisible();
        border: 1px solid color(grey, lighter);
        outline: 0;
        border-top: 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &__item {
        @include transition();
        font-size: 1.6rem;
        cursor: pointer;
        text-indent: $text-indent;
        height: $dropdown-height;
        line-height: $dropdown-height;
        &:hover {
            color: color(blue);
            background-color: color(light-grey);
        }
    }
}