@import '_variables';

::placeholder {
    color: color(grey);
}

.input {
    position: relative;

    [class^="icon-"] {
        position: absolute;
        right: 2rem;
        top: 2rem;
        
        &.toggle {
            @include transition();
            opacity: 0;
        }
    }

    &__error {
        @include transition();
        @include invisible();
        display: block;
        padding: $meta-text-top 0 0 0;
    }

    input:focus:invalid:not(:placeholder-shown) + &__error {
        @include visible();
    }

    input:focus:valid + &__error {
        @include invisible();
    }

    input:focus:invalid:not(:placeholder-shown) ~ [class^="icon-cross"] {
        opacity: 1;
    }

    &--disabled {
        input {
            background-color: color(light-grey);
        }
    }
}

.input-metadata {
    padding: $meta-text-top 0;
}

input {
    @include transition();
    height: $input-height;
    border-radius: $border-radius;
    border: 1px solid color(grey, lighter);
    font-size: font-size(text);
    width: 100%;
    text-indent: $text-indent;
    padding-right: 3rem;

    &:focus {
        outline: none;
    }

    &:focus:invalid:not(:placeholder-shown) {
        border: 1px solid color(red);
    }
}