/*
TODO:
Q1: Light, Regular, Medium, Bold, Black all needs?
    how about the italic style?
    only used as header or paragraphy as well?

Q2: Open sans regular, bold only, italic?

Q3: Do we need 7 level header? max 3 level?

Q4: Metadata can be categorized into paragraph

Q5: Paragraph, links can also be decided.
*/