// import the header fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i');

// import the paragraph fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    // will resolve as class="h1 header", etc.
    @include size-activator(header);
    @include size-activator(sub-header);
    @include color-activator();
}

p, a {
    @include size-activator(text);
    @include size-activator(meta-text);
    @include color-activator();
}

div, span {
    @include size-activator(text);
    @include size-activator(meta-text);
}

.header, .sub-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    &.italic {
        font-style: italic;
    }

    &.bold {
        font-weight: 700;
    }

    &.black {
        font-weight: 900;
    }
}

.text {
    line-height: 140%;

    &.italic {
        font-style: italic;
    }

    &.bold {
        font-weight: 700;
    }
}

a {
    text-decoration: none;
    color: color(blue);
}

.meta-text {
    color: color(gray);
}