// import the header fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i');

// import the paragraph fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include colorfy();

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 4.8rem;

    &.sm {
        font-size: 3.6rem;
    }

    &.md {
        font-size: 4.8rem;
    }

    &.lg {
        font-size: 6.4rem;
    }

    &.italic {
        font-style: italic;
    }

    &.bold {
        font-weight: 700;
    }

    &.black {
        font-weight: 900;
    }

    &.sub {
        font-size: 2.4rem;

        &.sm {
            font-size: 2rem;
        }

        &.md {
            font-size: 2.4rem;
        }

        &.lg {
            font-size: 3.2rem;
        }
    }
}

p {
    @include colorfy();

    font-size: 1.6rem;
    line-height: 2.5rem;
}