@import '_variables';
@import '_helpers';

.radio {
	&__button {
        border-radius: 50%;

        &::after {
            content: "";
            height: .5rem;
            width: .5rem;
            border-radius: 50%;
            background-color: color(white);
        }
	}

    @include check-element-setup(radio);
}